<?xml version='1.0' encoding='utf-8'?>
<widget id="com.activebook.react" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ActiveBookReact</name>
    <description>
        The ActiveBook is a simple book with non-simple effects.
    </description>
    <author email="shilov-1@yandex.ru" href="https://github.com/KrimsonKing_1337">
        m-days team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="mdpi" src="res/icon/android/icon-mdpi.png" />
        <icon density="hdpi" src="res/icon/android/icon-hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/icon-xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/icon-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/icon-xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
