@import '~styles/__mixins.scss';

.itemsWrapper {
  margin-top: 31px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 45px;
  margin: 90px auto 24px;

  color: #fff;
  font-size: 14px;
  font-weight: 100;

  background: #828282;
  border-radius: 25px;
  cursor: pointer;

  @include hover-default;
}
