@import "~styles/__variables.scss";

.startReading {
  width: 100%;

  color: #fd0006;
  font-size: 1em;
  font-weight: bold;
  text-align: center;

  cursor: pointer;

  opacity: 0.85;

  transition: text-shadow $transitionDefault;

  &:hover {
    text-shadow: 1px 1px 30px rgb(255 255 255 / 75%);
  }
}
