@import "~styles/__variables.scss";

.wrapper {
  width: 100%;
  padding: 0 20px;
}

.toolbar {
  z-index: 10;

  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: $appWidth;
  height: 48px;
  margin-top: 20px;

  color: var(--secondary);
  font-size: 16px;

  background: transparent;
}

.fontBig {
  margin-left: 10px;
}
