@import "~@src/styles/__variables.scss";
@import "~@src/styles/__mixins.scss";

.action {
  display: inline;

  color: #fd0006;
  font-size: 1em;
  font-weight: bold;

  opacity: 0.85;

  transition: text-shadow $transitionDefault;

  &:hover {
    cursor: pointer;

    @include text-shadow-default;
  }

  &.isFullWidth {
    display: block;
    width: 100%;

    text-align: center;
  }
}
