@import "~styles/__mixins";

.narrative {
  position: relative;

  width: 100%;
  height: calc(100% - 68px);
  padding: 20px;
  overflow: auto;

  color: var(--secondary);
  font-size: 100%;
  hyphens: auto;

  /*
  * иначе событие swipe у Hammer.js не срабатывает,
  * см.: https://stackoverflow.com/questions/60198150/hammerjs-swipe-not-working-on-elements-with-overflow-css-property
  */
  touch-action: pan-y !important;

  @include scrollbar();
}

.text {
  header {
    padding-bottom: 16px;

    font-size: 1.5em; //24px;
    font-weight: bold;
    line-height: 1.2;

    text-transform: uppercase;
  }

  article {
    padding-bottom: 16px;

    font-size: 0.875em; //12px;

    font-weight: 100;
    font-style: italic;
    line-height: 1.2;
  }

  h1 {
    padding-bottom: 7px;

    font-size: 1.5em; //24px;
    line-height: 1.2;
  }

  h2 {
    padding-bottom: 16px;

    font-size: 0.75em; //12px;
    font-style: italic;
  }

  p {
    padding-top: 16px;

    font-size: 0.875em; //14px;
    line-height: inherit;

    &:nth-of-type(1) {
      padding-top: 0;
    }
  }
}
